.header {
  padding: 2.5em 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.hero {
  height: 70vh;
  min-height: 500px;
  width: 100%;
  background-image: url(../image/slider/slider-3.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  content: "";
}
.hero .hero-content {
  color: #fff;
  height: 70vh;
  min-height: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hero .hero-content h1 {
  font-size: 8rem;
  line-height: 1;
}
.hero .hero-content p {
  font-size: 3rem;
  font-weight: 200;
  color: #fff;
}
.hero .hero-content p a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.hero .hero-content p a:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.form form {
  box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
  padding: 1.8em;
}
.form form .form-group{
    padding: 0 15px;
}
.form form input {
  width: 100%;
  color: #495057;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  height: 50px;
  border: 2px solid #cccccc;
}
.form form input:focus-visible {
  outline-color: transparent;
}
.form form input:focus {
  border: 3px solid #46b8b0;
}
.form form .message-form{
    min-height:30vh;
    width: 100%;
    color: #495057;
    padding: 0.375rem 0.75rem;
    border-radius: 5px;
    height: 50px;
    border: 2px solid #cccccc;
}
.form form .message-form:focus-visible {
    outline-color: transparent;
  }
  .form form .message-form:focus {
    border: 3px solid #46b8b0;
  }
.form form label{
    color:#6c757d;
    line-height: 3;
}
.form form .button {
    padding: 0.9em 1.2em;
    border: 2px solid #3f9a94;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    background-color: #fff;
    margin-left:1em;
  }
  .form form .button:hover {
    background-color: #46b8b0;
    color: #fff;
  }

.form .contact{
    padding-left: 5em;
}
.form .contact .title {
  font-size: 1.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #65c0ba;
  font-weight: bold;
}
.form .contact .description {
  font-family: "Abril Fatface", times, serif;
  color: #000;
  font-size: 3rem;
}
.testimonial .items ul li img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .items ul li .text {
  color: #000;
  min-height: 180px;
  font-size: 2rem;
  line-height: 1.5;
}
.testimonial .items ul li .author {
  font-style: italic;
  position: relative;
}
.testimonial .items ul li .author:before {
  content: "—";
  margin-right: 5px;
}
